@model IEnumerable<Com_Fi.Models.Artists>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de artistas</h1>
@* displays an error message, if needed *@
<h2 style="color: #ff0000">@Html.ValidationMessage("CustomError")</h2>
<p>
    <a asp-action="Create">Criar artista</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Artist")){
                    <text>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>                       
                    </text>
                }                
            </td>
        </tr>
}
    </tbody>
</table>
