@model Com_Fi.Models.Albums

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Albums</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class = "col-sm-10">
            <img
                src="~/Photos/Albums/@Model.Cover"
                alt="Photo of @Model.Cover"
                title="@Model.Cover"
                height="250"
            />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
